.wrapper {
	display: grid;
	grid-gap: 1em;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%;
	justify-items: center;
}
.wrapper > div {
	background-color: #eeeeee;
	padding: 1rem;
}
.wrapper > div:nth-child(odd) {
	background-color: #dddddd;
}

.pixel {
	height: 50px;
	width: 50px;
	background-color: white;
	/*border: none;*/
}

.darkPixel {
	height: 50px;
	width: 50px;
	background-color: #222;
}

.row {
	background: black;
	padding: 3px;
	width: 267px;
}

.container {
	background: black;
	padding: 3px;
	width: 272px;
}